<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krislq.history"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HistoryActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"></activity>
        
        <activity android:name="com.umeng.fb.ui.SendFeedback" android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversations" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversation"
		    android:configChanges="keyboard" />
        
		<service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:exported="true"
		    android:process=":DownloadingService" >
		</service>

		<activity
	        android:name="net.youmi.android.AdBrowser"
	        android:configChanges="keyboard|keyboardHidden|orientation"            
	        android:theme="@android:style/Theme.Light.NoTitleBar" >
	    </activity>
	    <service
	        android:name="net.youmi.android.AdService"
	        android:exported="false" >
	    </service>
	    <receiver 
	        android:name="net.youmi.android.AdReceiver" >
	        <intent-filter>
	            <action android:name="android.intent.action.PACKAGE_ADDED" />
	            <data android:scheme="package" />
	        </intent-filter>
	    </receiver> 
		<receiver
	        android:name="net.youmi.android.offers.OffersReceiver"
	        android:exported="false" >
	    </receiver>
        <meta-data android:value="50db058152701506560001ab" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:name="UMENG_CHANNEL" android:value="gfan" />
		<meta-data android:name="YOUMI_CHANNEL"
             android:value="gfan" >
        </meta-data>
    </application>

</manifest>